body {
  background-color: lightseagreen;
  color: white;
}

i {
  color: black;
}

.App {
  text-align: center;
}

#break, #session {
  width: 250px;
}


#break-session {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#session-buttons, #break-buttons {
  max-width: 100%;
  display: flex;
  justify-content: space-around;

}

